
<% layout('layouts/boilerplate') %> 


<div class="row">
    <h1 class="text-center">New campground</h1>
    <div class="col-6 offset-3">

    <form action="/campgrounds" method="POST" enctype="multipart/form-data" novalidate  class="needs-validation">
        <div class="mb-3">
        <label  class="form-label" for="title">Title</label>
        <input  class="form-control" type="text" id="campground[title]" name="campground[title]" required >
        </div>
        <div class="mb-3">
            <label class="form-label" for="location">Location</label>
            <input class="form-control" type="text" id="location" name="campground[location]" required>
        </div>
        <div class="mb-3">
            <label class="form-label" for="image">Image Url</label>
            <input class="form-control" type="file" id="image" name="image"  multiple>
        </div>
        <div class="mb-3">
            <label class="form-label" for="Price">Price</label>
        <div class="input-group ">
            <span class="input-group-text">$</span>
            <input type="text" class="form-control" id="price"  placeholder="0" name="campground[price]" required>
          </div>
         </div> 
        <div class="mb-3">
            <label class="form-label" for="description">Description</label>
            <textarea class="form-control" type="text" id="description" name="campground[description]" required></textarea>
        </div>
        <div class="mb-3">
        <button class="btn btn-success">Submit</button>
        </div>  
    </form>
    
</div>
</div>



